<div class="post_form">
  <%= form_with model: post do |f| %>
    <h4>投稿フォーム</h4>
    <div class="field">
      <%= post.label :title, 'タイトル' %><br>
      <%= post.text_field :title %><br>
    </div>
    <div class="field">
      <%= post.label :content, 'コンテンツ' %><br>
      <%= post.text_area :content %><br>
    </div>
    <div class="field">
      <%= post.label :title, '時間' %><br>
      <%= post.number_field :time, size: "25" %></br>
    </div>
      <div class="tag-form">
      <%= post.label :tag, 'タグ' %><br>
      <%# Edit用に@post.tags.pluck(:name)でタグの配列を取得 %>
      <%= post.text_field :tag, value: @post.tags.pluck(:name) %><br>
    </div>
    <small>スペースで区切ることで複数指定できます。</small><br>
    <%#= post.submit %>
    <%= button_tag type: "submit", class: "btn btn-info" do %>
      <i class="fa-solid fa-pen-to-square"></i>投稿する
    <% end %>
  <% end %>
</div>