<h4>投稿フォーム</h4>
  <%= form_with model: Post.new do |f| %>
    <div class="field">
      <br>
      <%= f.text_field :title, placeholder: 'タイトル' %><br>
    </div>
    <div class="field">
      <br>
      <%= f.text_area :content, placeholder: 'コンテンツ' %><br>
    </div>
    <div class="field">
      <br>
      <%= f.number_field :time, size: "25", placeholder: '時間' %></br>
    </div>
    <div class="field">
      <br>
      <%# Edit用に@post.tags.pluck(:name)でタグの配列を取得 %>
      <%= f.text_field :tag, value: @post.tags.pluck(:name), placeholder: 'タグ' %><br>
    </div>
    <small>スペースで区切ることで複数指定できます。</small><br>
    <%= f.submit %>
  <% end %>
