<div class="container">
  <div class="row">
    <div class="col">
      <h2>トップページ</h2>
      <!--エラーが生じた際のフラッシュメッセージ-->
      <%= render "layouts/flash" %>
      
      <h4>すべての投稿</h4>
      <!--全ユーザーの投稿内容-->
      <% @posts.each do |post| %>
        <div class="post-content">
          <%= post.title %>
          <%= post.content %>
          <%= post.time %>
        </div>
      <% end %>
      <h4><%= link_to '投稿ページ', new_post_path %></h4>
      <!--作成されたタグ-->
      <% @tag_list.each do |tag| %>
        <%= tag.name %>
      <% end %>
      <h4><%= link_to 'タグページ', tags_path %></h4>
    </div>
  </div>
</div>
