<%= render 'layouts/message' %>
<!--エラーが生じた際のフラッシュメッセージ-->
<div class='container'>
  <div class='row'>
    <div class='col-3'>
      <%= render 'form', user: @user, post: @post %>
    </div><!--col-->
    <div class='col-md-6 offset-md-1'>
      <h4>すべての投稿</h4>
      <table class='table table-hover'>
      <!--全ユーザーの投稿内容-->
        <% @posts.each do |post| %>
        <tr>
          <div class='post-content'>
            <td>
              <%= link_to post_path(post.id) do %>
                <%= post.title %>
              <% end %>
            </td>
            <td><%= post.time %></td>
            <td><%= post.content %></td>
          </div>
        </tr>
        <% end %>
        <!--作成されたタグ-->
        <% @tag_list.each do |tag| %>
          <%= tag.name %>
        <% end %>
      </table>
    </div><!--col-->
  </div><!--row-->
</div><!--container-->
