<div class='container'>
  <div class='row'>
    <div class='col-3'>
      <h3>詳細ページ</h3>
      <p>こちらはの詳細な内容です。</p>
    
    <h2></h2>
    <%= link_to 'トップページへ', root_path %>
    
    <h4>タイトル</h4>
    <%= @post.title %>
    
      <%= render 'favorite', user: @user, post: @post %>
    
    <h4>コンテンツ内容</h4>
    
    <%= simple_format(@post.content) %>
    
    <%= link_to '編集', edit_post_path(@post) %>
    <%= link_to '削除', post_path(@post), method: :delete, data: {confirm: '削除しますか？'} %>
    
    <h4>タグ</h4>
    <ul>
      <!--該当のPostからアソシエーションでタグを取得-->
      <% @post.tags.each do |tag| %>
        <!--タグを展開-->
        <li>
          <%= link_to tag.name, tag_path(tag) %>
        </li>
      <% end %>
    </ul>
    </div><!--col-->
  </div><!--row-->
</div><!--container-->
