<%= render 'layouts/message'%>

<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h4>プロフィール編集</h4>
      <%= form_with model: @user do |f| %>
      
        <div class='image-form'>
          <%= f.label : 'プロフィール画像'%>
          <%= f.file_field :profile_image %>
        </div></div><!--iamge-form-->
        
        <div class='form-group'>
          <%= f.text_field :name, size: '25', placeholder: 'ユーザー名' %></br>
        </div><!--form-group-->
        
        <div class='form-group'>
          <%= f.text_area :introduce, size: '40', placeholder: 'プロフィール文' %></br>
        </div><!--form-group-->
        
        <div class='form-group'>
          <%= f.submit '変更内容を保存', class: 'btn btn-info' %>
        </div><!--form-group-->
        
        <div class='link'>
          <%= link_to '退会する', confirm_user_path, class:'btn btn-danger' %>
        </div><!--link-->
        
      <% end %>
    </div><!--col-->
  </div><!--row-->
</div><!--container-->